.App {
  /* border: 1px solid black; */
  /* padding: 5px; */
}

.chatRoom {
  padding: 5px 20px 20px 20px;
  border: 1px solid black;
  overflow: scroll;
  /* white-space: nowrap; */
  max-height: 500px;
  min-width: 250px;
}
